<mat-sidenav-container class="example-container">
  <mat-sidenav fixedInViewport  #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
    Sidenav content
  </mat-sidenav>

  <mat-sidenav-content>
      <mat-toolbar color="primary">
          <span>My Application</span>
          <span class="example-spacer"></span>
          <button mat-icon-button (click)="sidenav.toggle()"><mat-icon class="example-icon">menu</mat-icon></button>
        </mat-toolbar>
        <button mat-button>Click me!</button>
    
  </mat-sidenav-content>
</mat-sidenav-container>